<script>
export default {
  name: "ModalData",
  props: {
    course: {
      type: Object,
      required: true,
    },
  },
};
</script>
<template>
  <div
    class="modal fade"
    :id="`course${course.id}`"
    tabindex="-1"
    :aria-labelledby="`#course${course.id}Label`"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title fs-5 text-center" :id="`#course${course.id}Label`">
            {{ course.title }}
          </h3>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <img
            :src="course.img"
            :title="course.title"
            :alt="course.title"
            class="img-fluid" />
        </div>
        <div class="modal-footer">
          <i class="fa fa-graduation-cap"></i> {{course.school}} <br /> 
          <i class="fa fa-calendar"></i> {{course.date}}
          <p>{{ course.data }}</p>
        </div>
      </div>
    </div>
  </div>
</template>