@import url(https://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css);

body {
  font-family: "Lato", arial, sans-serif;
  color: #434343;
  background: #dae3e7;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #778492;
}

a {
  color: var(--accent-color);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:focus {
  text-decoration: none;
}

.btn,
a.btn {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-family: "Montserrat", arial, sans-serif;
  padding: 8px 16px;
  font-weight: bold;
}

.btn:hover,
a.btn:hover {
  text-decoration: none;
}

.btn:focus,
a.btn:focus {
  color: #fff;
  box-shadow: none;
}

a.btn-cta-primary,
.btn-cta-primary {
  background: var(--accent-color);
  border: 1px solid var(--accent-color);
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

a.btn-cta-primary:hover,
.btn-cta-primary:hover {
  background: var(--accent-color);
  border: 1px solid var(--accent-color);
  opacity: 0.7;
  color: #fff;
}

/* ======= Header ======= */
.header {
  padding: 30px 0;
  background: #f5f5f5;
  border-top: 10px solid #778492;
}

.header .btn {
  font-weight: bold;
}

.header .profile-image {
  margin-right: 30px;
}

.header .profile-content .name {
  color: #49515a;
  font-size: 38px;
  margin-bottom: 5px;
  margin-top: 30px;
}

.header .profile-content .desc {
  color: #778492;
  font-family: "Lato", arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 15px;
}

.header .profile-content .social a {
  background: #b0b7bf;
  width: 36px;
  height: 36px;
  display: inline-block;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #fff;
  text-align: center;
}

.header .profile-content .social a:hover {
  background: #778492;
}

/* ======= Sections======= */
.section {
  margin-bottom: 30px;
}

.section .section-inner {
  background: #fff;
  padding: 30px;
}

.section .heading {
  margin-top: 0;
  margin-bottom: 30px;
  color: #545e69;
  font-size: 24px;
}

/* Info Section */
.info ul {
  margin-bottom: 0;
}

.info li {
  margin-bottom: 15px;
}

.info li:last-child {
  margin-bottom: 0;
}

/* Skills Section */

.skills .skillset .item {
  margin-bottom: 25px;
}

/* Education section */
.education .item {
  margin-bottom: 30px;
}

.education .item:last-child {
  margin-bottom: 0;
}

.education .item .title {
  font-size: 16px;
  margin-top: 0;
}

.education .item .university {
  font-family: "Lato", arial, sans-serif;
  font-size: 13px;
  color: #999;
  font-weight: 600;
  padding-left: 25px;
}

.education .item .university .year {
  color: #b0b7bf;
  font-weight: 500;
}

/* Language Section */
.languages .item {
  margin-bottom: 15px;
}

.languages .item .title {
  color: #778492;
}

.languages .item .level {
  color: #999;
}

.level > i {
  color: var(--accent-color);
}

.languages .item:last-child {
  margin-bottom: 0;
}

.item > .title > i {
  color: var(--accent-color);
}

/* ======= Footer ======= */
.footer {
  background: #32383e;
  color: #fff;
  padding: 10px 0;
}

.footer .copyright {
  line-height: 1.6;
  color: #a1aab4;
  font-size: 14px;
}

.footer a {
  color: #fff;
}

.footer .fa-heart {
  color: #fb866a;
}

.dark-mode-switch {
  margin-bottom: 1rem;
}

.dark-mode-switch .form-switch {
  display: -webkit-flex;
  display: flex;
}

.dark-mode-switch label {
  font-size: 0.875rem;
  font-weight: bold;
}

.dark-mode-switch .form-switch .form-check-input {
  border-radius: 1em;
  border-color: #dae3e7;
}

.dark-mode-switch .form-check-input:checked {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.dark-mode-switch .form-check-input:focus {
  box-shadow: none;
  border-color: #dae3e7;
}

body[data-theme="dark"] {
  background: #17191c;
}

body[data-theme="dark"] a:hover {
  color: var(--accent-color);
}

body[data-theme="dark"] a.btn:hover {
  color: #fff;
}

body[data-theme="dark"] .dark-mode-switch .form-check-input:focus {
  border-color: var(--accent-color);
}

body[data-theme="dark"] .header {
  background: #1e2124;
  color: rgba(255, 255, 255, 0.9);
  border-top-color: #1e2124;
}

body[data-theme="dark"] .header .profile-content .name {
  color: rgba(255, 255, 255, 0.9);
}

body[data-theme="dark"] .header .profile-content .desc {
  color: rgba(255, 255, 255, 0.7);
}

body[data-theme="dark"] .header .profile-content .social a {
  background: #2e3238;
  color: rgba(230, 230, 230, 0.7);
}

body[data-theme="dark"] .header .profile-content .social a:hover {
  color: rgba(255, 255, 255, 0.9);
}

body[data-theme="dark"] .section .section-inner {
  background: #1e2124;
  color: rgba(255, 255, 255, 0.7);
}

body[data-theme="dark"] .section .heading {
  color: rgba(255, 255, 255, 0.9);
}

body[data-theme="dark"] .experience .item .title {
  color: rgba(255, 255, 255, 0.9);
}

body[data-theme="dark"] .projects .item .title a {
  color: rgba(255, 255, 255, 0.9);
}

body[data-theme="dark"] .projects .item .title a:hover {
  color: #fff;
}

body[data-theme="dark"] .education .item .title {
  color: rgba(255, 255, 255, 0.9);
}

body[data-theme="dark"] .languages .item .title {
  color: rgba(255, 255, 255, 0.9);
}

body[data-theme="dark"] .experience .item .title .place a {
  color: rgba(255, 255, 255, 0.7);
}

body[data-theme="dark"] .experience .item .title .place a:hover {
  color: rgba(255, 255, 255, 0.9);
}

body[data-theme="dark"] .text-muted {
  color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 767.98px) {
  .header {
    text-align: center;
  }
  .header .profile-image {
    float: none !important;
    margin: 0 auto;
  }
  .header .profile-content {
    float: none !important;
    text-align: center;
  }
  .header .btn {
    margin-top: 30px;
    float: none !important;
  }
  .project-image {
    margin-bottom: 15px;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1360px;
    max-width: inherit;
  }
}

.rounded,
img,
.btn {
  border-radius: var(--site-border-radius) !important;
}

/* ======= Modal ======= */

.modal-body {
  text-align: center;
}

.modal-body img {
  border-radius: var(--site-border-radius);
}

body[data-theme="dark"] .modal-content {
  background: #1e2124;
}

.modal-title {
  color: var(--accent-color);
}

/* ======= Carousel ======= */

.carousel__slide {
  padding: 5px;
}

.carousel__viewport {
  perspective: 2000px;
}

.carousel__track {
  transform-style: preserve-3d;
}

.carousel__slide--sliding {
  transition: 0.5s;
}

.carousel__slide {
  opacity: 0.9;
  transform: rotateY(-20deg) scale(0.9);
}

.carousel__slide--active ~ .carousel__slide {
  transform: rotateY(20deg) scale(0.9);
}

.carousel__slide--prev {
  opacity: 1;
  transform: rotateY(-10deg) scale(0.95);
}

.carousel__slide--next {
  opacity: 1;
  transform: rotateY(10deg) scale(0.95);
}

.carousel__slide--active {
  opacity: 1;
  transform: rotateY(0) scale(1.1);
}

.carousel__item {
  --bs-aspect-ratio: calc(16 / 9 * 100%);
}

.carousel__item img {
  height: 120px;
}

/* ======= Download ======= */

.download-pdf {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50% !important;
  background: var(--accent-color) !important;
  height: 70px;
  width: 70px;
  border: 0px;
  font-size: 20px;
}

/* ======= ForkMe ======= */

.forkme {
  font-family: tahoma;
  font-size: 20px;
  position: fixed;
  top: 25px;
  right: -37px;
  display: block;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  background-color: var(--accent-color);
  color: white;
  padding: 4px 30px 4px 30px;
  z-index: 99;
}
