<template>
  <section class="github section">
    <div class="section-inner shadow-sm rounded">
      <h2 class="heading">Actividad</h2>

      <codersrank-activity :username='username' labels legend tooltip branding=false>
      </codersrank-activity>

    </div>
  </section>
</template>

<script>
import personal from '@/data/personal.json';
import CodersRankActivity from '@codersrank/activity';

window.customElements.define('codersrank-activity', CodersRankActivity);

export default {
  name: "Activity",
  data() {
    return {
      username: personal.codersrank,
    }
  }
}
</script>

<style scoped>
codersrank-activity {
  --preloader-color: var(--accent-color);
  --bg-color-4: var(--accent-color);
  --bg-color-3: rgba(var(--code-color), .7);
  --bg-color-2: rgba(var(--code-color), .4);
  --bg-color-1: rgba(var(--code-color), .2);
  --bg-color-0: rgba(127, 127, 127, .1);
  --label-text-color: var(--accent-color);
}
</style>