<template>
  <section class="experience section">
    <div class="section-inner shadow-sm rounded">
      <h2 class="heading">Experiencia Laboral</h2>
      <div class="content">
        <codersrank-work-experience logos="true" branding="false" :username='username'></codersrank-work-experience>
      </div>
    </div>
  </section>
</template>

<script>
import personal from '@/data/personal.json';
import CodersrankWorkExperience from '@codersrank/work-experience';

window.customElements.define('codersrank-work-experience', CodersrankWorkExperience);
export default {
  name: "Experience",
  data() {
    return {
      username: personal.codersrank,
    }
  }
}
</script>

<style scoped>
codersrank-work-experience {
  --preloader-color: var(--accent-color);
  --item-border-radius: var(--site-border-radius);
  --company-text-color: var(--accent-color);
  --tag-star-color: var(--accent-color);
  --tag-border-radius: var(--site-border-radius);
}
</style>