<template>
  <codersrank-summary class="summary" :username='username' branding=false badges=3>
  </codersrank-summary>
</template>

<script>
import personal from '@/data/personal.json';
import CodersrankSummary from '@codersrank/summary';

window.customElements.define('codersrank-summary', CodersrankSummary);

export default {
  name: "Summary",
  data() {
    return {
      username: personal.codersrank,
    }
  }
}
</script>

<style scoped>
codersrank-summary {
  --header-bg-color: var(--accent-color);
  --border-radius: var(--site-border-radius);
  --badge-border-radius: var(--site-border-radius);
}
</style>