<template>
  <section class="about section">
    <div class="section-inner shadow-sm rounded">
      <h2 class="heading">Sobre Mi</h2>
      <div class="content">
        <p>{{ about }}</p>
      </div>
    </div>
  </section>
</template>

<script>
import personal from "@/data/personal.json";
export default {
  name: "About",
  data() {
    return {
      about: personal.about,
    };
  },
};
</script>

<style scoped>
p {
  white-space: pre-wrap;
}
</style>
