<script>
import "vue3-carousel/dist/carousel.css";
import { Carousel, Slide, Pagination, Navigation } from "vue3-carousel";
import badges from "@/data/badge.json";
export default {
  name: "BadgeSection",
  data() {
    return {
      badges,
    };
  },
  components: {
    Carousel,
    Slide,
    Pagination,
    Navigation,
  },
};
</script>

<template>
  <aside class="education aside section">
    <div class="section-inner shadow-sm rounded">
      <h2 class="heading">Insignias</h2>

      <Carousel
        :itemsToShow="3.95"
        :wrapAround="true"
        :transition="500"
        :autoplay="2000"
      >
        <Slide v-for="badge in badges" :index="badge.id">
          <div style="padding-top: 15px" class="carousel__item">
            <a :href="badge.url" target="_blank">
              <img :src="badge.img" :alt="badge.title" class="img-fluid"
            /></a>
            <p style="height: 5lh">{{ badge.title }}</p>
          </div>
        </Slide>
        <template #addons>
          <Pagination />
          <Navigation />
        </template>
      </Carousel>
    </div>
  </aside>
</template>
