<template>
  <aside class="info aside section">
    <div class="section-inner shadow-sm rounded">
      <h2 class="heading sr-only">Contacto</h2>
      <div class="content">
        <ul class="list-unstyled">
          <li v-for="elem in contacts" :key="elem.data">
            <i :class="elem.icon" style="margin-right: 10px"></i>{{ elem.data }}
          </li>
        </ul>
      </div>
    </div>
  </aside>
</template>

<script>
import contacts from "@/data/contact.json";
export default {
  name: "Contact",
  data() {
    return {
      contacts,
    };
  },
};
</script>

<style scoped>
.list-unstyled > li > i {
  color: var(--accent-color);
}
</style>
