<template>
  <aside class="education aside section">
    <div class="section-inner shadow-sm rounded">
      <h2 class="heading">Cursos</h2>
      <div class="content">
        <div class="row">
          <div class="col-md-3" v-for="course in courses" :key="course.id">
            <div
              class="ratio ratio-16x9"
              :style="`margin-bottom: 20px; width: 100%; background-image: url(${course.img}); background-size: cover; background-repeat: no-repeat; background-position: center; border-radius: var(--site-border-radius);`"
              :title="course.title"
              :alt="course.title"
              data-bs-toggle="modal"
              :data-bs-target="`#course${course.id}`"
            ></div>
            <ModalData :course="course" />
          </div>
        </div>
      </div>
    </div>
  </aside>
</template>

<script>
import courses from "@/data/courses.json";
import ModalData from "@/components/cards/ModalData.vue";
export default {
  name: "Courses",
  data() {
    return {
      courses,
    };
  },
  components: {
    ModalData,
  },
};
</script>

<style scoped>
.contenedor {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor figure {
  position: relative;
  height: 250px;
  cursor: pointer;
  width: 350px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
}

.contenedor figure img {
  width: 100%;
  height: 100%;
  transition: all 400ms ease-out;
  will-change: transform;
}

.contenedor figure .capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--accent-color);
  transition: all 400ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.contenedor figure:hover > .capa {
  opacity: 0.9;
  visibility: visible;
}

.contenedor figure:hover > .capa h3 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 20px;
}

.contenedor figure:hover > .capa .university {
  position: relative;
  font-size: 14px;
  font-weight: bold;
  margin-top: 15px;
}

.contenedor figure:hover > img {
  transform: scale(1.3);
}

.contenedor figure .capa h3 {
  color: #fff;
  font-weight: 400;
  margin-bottom: 120px;
  transition: all 400ms ease-out;
  margin-top: 30px;
}

.contenedor figure .capa p {
  color: #fff;
  font-size: 15px;
  line-height: 1.5;
  width: 100%;
  max-width: 220px;
  margin: auto;
}
</style>
