<template>
  <button
    class="btn btn-primary download-pdf"
    title="Descargar CV"
    name="Descargar CV"
    @click="downloadPDF()"
  >
    <em class="fa-solid fa-download"></em>
  </button>
</template>

<script>
import { saveAs } from "file-saver";
import cv from "@/assets/files/JoaquinDecimaCV.pdf";

export default {
  methods: {
    downloadPDF: async function () {
      saveAs(cv, "JoaquinDecimaCV.pdf");
    },
  },
};
</script>
