<template>
  <aside class="education aside section">
    <div class="section-inner shadow-sm rounded">
      <h2 class="heading">Educación</h2>
      <div class="content">

        <div class="item" v-for="elem in education" :key="elem.title">
          <h3 class="title"><i class="fa fa-graduation-cap"></i> {{elem.title}}</h3>
          <h4 class="university">{{elem.school}} <span class="year">({{elem.date}})</span></h4>
        </div>

      </div>
    </div>
  </aside>
</template>

<script>
import education from '@/data/education.json';
export default {
  name: "Education",
  data() {
    return{
      education
    }
  }
}
</script>