<template>
  <footer class="footer">
    <div class="container text-center">
      <small class="copyright"
        >Creado con <i class="fa fa-heart"></i> por
        <a href="https://vasak.net.ar/" target="_blank">Vasak Group</a> para
        {{ name }}</small
      >
      <p class="p-footer">
        <button
          v-for="color in colors"
          :key="color"
          class="btn setcolorbutton"
          :style="'background: rgb(' + color + ');'"
          @click="setColor(color)"
          name="Cambiar color"
          title="Cambiar color del sitio"
        ></button>
      </p>
    </div>
  </footer>
</template>

<script>
import personal from "@/data/personal.json";
const rootCSS = document.querySelector(":root");

export default {
  name: "Footer",
  data() {
    return {
      name: personal.name,
      colors: [
        "58,170,100",
        "52,168,157",
        "229,205,85",
        "207,165,78",
        "224,81,57",
        "220,93,141",
        "54,117,241",
      ],
    };
  },
  methods: {
    setColor: function (color) {
      rootCSS.style.setProperty("--code-color", color);
    },
  },
};
</script>

<style scoped>
.setcolorbutton {
  height: 20px;
  width: 20px;
  border-radius: var(--site-border-radius);
  margin: 3px;
  padding: 0px;
}

.p-footer {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
</style>
