<template>
  <a href="https://gitlab.com/JoaquinDecima/joaquindecima.gitlab.io">
    <span class="forkme"
      >&nbsp;&nbsp;&nbsp;&nbsp;<i
        class="fa fa-code-fork"
        aria-hidden="true"
      ></i>
      in
      <i class="fa-brands fa-gitlab" aria-hidden="true"></i
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
    >
  </a>
</template>

<script>
export default {
  name: "Forkme",
};
</script>
