<template>
  <header class="header">
    <div class="container">
      <div class="row align-items-center">
        <div class="col">
          <img
            class="profile-image img-fluid float-start rounded-circle"
            :src="avatar"
            alt="profile image"
            style="max-height: 180px"
          />
          <div class="profile-content">
            <h1 class="name" id="name">{{ name }}</h1>
            <h2 class="desc">{{ title }}</h2>
            <ul class="social list-inline">
              <li
                v-for="item in social"
                class="list-inline-item"
                :key="item.name"
              >
                <a :href="item.link" :title="item.name">
                  <i
                    :class="item.icon"
                    style="vertical-align: -webkit-baseline-middle"
                  ></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-md-auto">
          <div class="dark-mode-switch d-flex">
            <div class="form-check form-switch mx-auto mx-md-0">
              <input
                type="checkbox"
                class="form-check-input me-2"
                id="darkSwitch"
              />
              <label class="custom-control-label" for="darkSwitch"
                >Dark Mode</label
              >
            </div>
          </div>
          <a class="btn btn-cta-primary" :href="contact" target="_blank"
            ><i class="fa fa-paper-plane"></i> Contacto</a
          >
        </div>
      </div>
    </div>
  </header>
</template>

<script>
import person from "@/data/personal.json";
import social from "@/data/social.json";

export default {
  name: "Header",
  data() {
    return {
      name: person.name,
      avatar: person.avatar,
      title: person.title,
      social: social,
      contact: person.contactURL,
    };
  },
};
</script>
