<template>
  <aside class="languages aside section">
    <div class="section-inner shadow-sm rounded">
      <h2 class="heading">Idiomas</h2>
      <div class="content">
        <ul class="list-unstyled">
          <li class="item" v-for="leng in lengs" :key="leng.leng">
            <span class="title"
              ><strong>{{ leng.leng }}: </strong></span
            >
            <span class="level">
              {{ leng.description }} <br class="visible-xs" />
              <i v-for="star in leng.stars" :key="star" :class="star"></i>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </aside>
</template>

<script>
import lengs from "@/data/lenguages.json";
export default {
  name: "Lenguages",
  data() {
    return { lengs };
  },
};
</script>
