<template>
  <aside class="education aside section">
    <div class="section-inner shadow-sm rounded">
      <h2 class="heading">Proyectos</h2>
      <div class="content">
        <div class="item" v-for="elem in proyects" :key="elem.title">
          <h3 class="title"><i :class="elem.icon"></i> {{ elem.title }}</h3>
          <h4 class="university">{{ elem.description }}</h4>
        </div>
      </div>
    </div>
  </aside>
</template>

<script>
import proyects from "@/data/proyects.json";
export default {
  name: "Proyects",
  data() {
    return { proyects };
  },
};
</script>
