<template>
  <aside class="skills aside section">
    <div class="section-inner shadow-sm rounded">
      <h2 class="heading">Habilidades</h2>
      <div class="content container-fluid">
        <div class="skillset row">
          <div class="item col-2" v-for="skill in skills" :key="skill.name">
            <img
              :src="skill.url"
              :alt="skill.name"
              :name="skill.name"
              class="img-fluid"
              style="border-radius: 0px !important"
            />
          </div>
        </div>
      </div>
    </div>
  </aside>
</template>

<script>
import skills from "@/data/skills.json";

export default {
  name: "Skills",
  data() {
    return {
      skills,
    };
  },
};
</script>

