<script setup>
import Activity from './components/codersrank/Activity.vue';
import Summary from './components/codersrank/Summary.vue';
import About from "./components/About.vue";
import BadgeSection from './components/BadgeSection.vue';
import Contact from "./components/Contact.vue";
import Courses from "./components/Courses.vue";
import DownloadCV from './components/DownloadCV.vue';
import Education from "./components/Education.vue";
import Experience from "./components/codersrank/Experience.vue";
import Footer from "./components/Footer.vue";
import Forkme from './components/Forkme.vue';
import Header from "./components/Header.vue";
import Lenguages from "./components/Lenguages.vue";
import Proyects from "./components/Proyects.vue";
import Skills from "./components/Skills.vue";
</script>

<template>
  <Header />

  <div class="container sections-wrapper py-5">
    <div class="row">

      <div class="col-12">
        <Activity />
        <Forkme />
      </div>

      <div class="primary col-lg-8 col-12">
        <About />
        <Experience />
        <Courses />
        <BadgeSection />
      </div>

      <div class="secondary col-lg-4 col-12">
        <Contact />
        <Education />
        <Skills />
        <Lenguages />
        <Proyects />
      </div>

      <DownloadCV />

      <div class="col-12">
        <Summary />
      </div>

    </div>
  </div>

  <Footer />
</template>
